{% extends "layout.html.twig" %}

{% block content %}
    </div>
    <div class="jumbotron" style="background: none; xbackground-image: url('http://www.infor.com/design2012/images/primages/10x-abstract_blue-NewsFeed_614x261px.jpg')">
        <div class="container">
            <h1><i class="fa fa-database"></i> {{ datawarehouse.getName() }}</h1>
            <h2>Data warehouse</h2>
        </div>
    </div>
    <div class="container">
    
    <h3>Details</h3>
    <ul>
        <li>Code: {{ datawarehouse.getCode() }}</li>
        <li>Name: {{ datawarehouse.getName() }}</li>
        <li>Config: 
            <ul>
                {% for key, value in datawarehouse.getConfigs() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
