{% extends "layout.html.twig" %}

{% block content %}
<div style="float: right; margin-top: 20px;">
    <a href="{{ path("dataset_download", { dwcode: datawarehouse.getCode(), dscode: dataset.getName() })}}?format=csv" class="btn btn-default"><i class="fa fa fa-file-text-o"></i> CSV</a>
    <a href="{{ path("dataset_download", { dwcode: datawarehouse.getCode(), dscode: dataset.getName() })}}?format=html" class="btn btn-default"><i class="fa fa fa-file-code-o"></i> HTML</a>
    <a href="{{ path("dataset_download", { dwcode: datawarehouse.getCode(), dscode: dataset.getName() })}}?format=xlsx" class="btn btn-default"><i class="fa fa fa-file-excel-o"></i> Excel</a>
</div>
<h1><i class="fa fa-table"></i> DataSet "{{ dataset.getName() }}"</h1>
<p>Row count: {{ rowcount }}</p>
{{ tablehtml|raw }}

{% endblock %}
